body {
    background-color: #eff4f5; 
    font-family: 'Arial', sans-serif;
}
.table th, .table td {
    word-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-container {
    padding: 0 15px;
}

.container{
    max-width: 1920px;
    padding: 15px;
}
.card {
    transition: transform 0.2s;
    border-radius: 10px;
    overflow: hidden;
}
.card img {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
    text-align: right;

}

.card-text {
 

    margin-bottom: 2cqi;
}

.card img {
    height: 200px;
    object-fit: cover;
}
.card-title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #007bff; 
}
.card-text span {
    text-align: right;
}
.card-row-padding {
    padding: 10px;
}
.button-container {
    display: flex;
    justify-content: flex-end;
}
button {
    
    min-width: 100px;
}
@media (min-width: 768px) {
    .table th, .table td {
        max-width: 150px;
    
    }
}

@media (max-width: 768px) {
    .h1{
        font-size:  2rem;
    }
    .card {
        margin-bottom: 20px;
    }

    .card img {
        height: 150px;
    }

    .button-container {
        justify-content: center;
    }
    .table th, .table td {
        display: block;
        width: 100%;

    }

    .table thead {
        display: none;
    }

    .table tr {
        margin-bottom: 10px;
        display: block;
        
    }

    .table tr td {
        text-align: right;
        position: relative;
    }

    .table tr td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
        white-space: nowrap;
    }
}
.modal-content{
    left:auto;
    right: auto;
}
.btn-close{
    padding-top: 5px;
    min-width: 20px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.85); 
}

.action-buttons {
    display: flex;
    justify-content: center;
}

.action-buttons .btn {
    margin-right: 0.5rem;
}

.action-buttons .btn:last-child {
    margin-right: 0;
}
.card-active {
    border: 1px solid green;
    background-color: #f0faf2;
}

.card-inactive {
    border: 1px solid red;
    background-color: #f8d7da;
}
